.camera-page {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align items to the start of the flex container */
  padding: 20px;
  gap: 20px; /* Add some space between camera feed and alert box */
}

.camera-title{
  margin-bottom: 10px;
}

.camera-container {
  flex-basis: 60%; /* Camera takes up 60% of the flex container */
  margin-top: 100px; /* Lower the camera on the screen */
}



.camera-feed {
  width: 100%; /* Camera feed takes the full width of the camera container */
  max-height: calc(100vh - 100px); /* Adjust height as needed */
  object-fit: contain; /* Ensure the aspect ratio is maintained */
}

.alert-container {
  flex-basis: 25%; /* Alert box takes up 40% of the flex container */
  height: 90vh;
  margin-left: 200px; /* Make the alert box taller */
  overflow-y: auto; /* Allow scrolling for overflow content */
  background-color: #f8d7da; /* Light red background for alert box */
  padding: 20px;
}

/* Adjust the camera video element to be a bit smaller and centered */
video {
  max-width: 100%; /* Set maximum width to 100% of its parent */
  max-height: 400px; /* Maximum height set to 400px or as needed */
  margin: 0 auto; /* Center the video in the container */
}

/* Style for individual alert messages */
.alert-message {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #f5c6cb;
}
