.zone-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  .zone-title {
    font-size: 30px; /* Adjust size as needed */
    margin-bottom: -70px;
    margin-left: 530px;
    align-self: flex-start;
  }
  
  .camera-container {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Adjust as needed */
  }
  
  .camera-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px;
    flex-grow: 1;
  }
  
  .camera-feed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .video {
    width: 100%; /* Adjust as needed */
    aspect-ratio: 16 / 9; /* Adjust as needed */
  }
  
  .camera-label {
    margin-top: 8px;
  }
  
  .alert-box {
    width: 250px; /* Adjust width as needed */
    padding: 20px;
    background-color: #f8d7da; /* Light red background */
    color: #721c24; /* Dark red text color */
    border: 1px solid #f5c6cb; /* Light red border */
    height: 628px;
  }
  